*{
    padding: 0;
    margin: 0;
}
/*menu*/
.logo{
    position: absolute;
    display: flex;
    cursor: pointer;
}
.logo h2{
    font-weight: bolder;
    color: #fff;
    font-size: 1.2rem;
    font-family: SansSerif;
}
.logo img{
    width: 35px;
    height: 35px;
    margin-left: 1.5rem;
    margin-top: -.6rem;
    filter: invert(100%);
}
.logo:hover{
    opacity: .7;
}
.nav-menu{
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: #f83c3c;
    box-shadow: 0 0 .5rem .1rem #999;
}
.ul-menu{
    display: flex;
    justify-content: right;
}
.ul-menu li{
    list-style-type: none;
}
.ul-menu li a{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    padding: .5rem 1rem;
    border: 1px solid #fff;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
}
.ul-menu li a:hover{
    background-color: #fff;
    color: #f83c3c;
}
/*titulo*/
.titulo{
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
}
.titulo h1{
    font-size: 1.7rem;
    margin-left: 2rem;
}
.titulo img{
    margin-left: 1rem;
}
/*cadastrar pedido*/
.destaque{
    color: #f83c3c;
    font-weight: lighter;
}
.cad-cliente{
    text-align: center;
    margin-top: 1.5rem;
}
.card-cliente{
    background-color: #fff;
    padding: 1rem;
    width: 50%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 .5rem .2rem darkgrey;
}
.card-cliente h1{
    margin-bottom: 1rem;
}
.form-cliente label{
    display: block;
    font-weight: lighter;
    font-size: 1.1rem;
}
input[type="text"]{
    padding: .5rem 5rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    color: rgb(124, 123, 123);
    text-align: left;
}
input[type="date"]{
    background-color: #ffffff;
    color: rgb(124, 123, 123);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: .5rem .5rem;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    letter-spacing: 2px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.cadastrar{
    padding: .7rem 1.7rem;
    border: none;
    color: #fff;
    font-weight: bolder;
    background-color: hsl(140, 87%, 38%);
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cadastrar:hover{
    transform: scale(1.1);
    opacity: .7;
}
h1{
    font-weight: lighter;
    color: #444;
    font-size: 1.3rem;
}
/*footer*/
footer{
    width: 100%;
    margin: 0;
    bottom: 0;
    padding: 1.2rem;
    background-color: #f83c3c;
    color: #fff;
    font-weight: bolder;
    position: fixed;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #444;
    font-size: 1.2rem;
}
footer a:hover{
    color: #fff;
}