<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="grupo1">
    <meta name="description" content="trabalho prático banco de dados UNIFAL, sistema de delivery">
    <meta name="keywords" content="sistema delivery, crud, banco de dados, spring boot">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Delivery - Pedido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
  <header>
    <nav class="nav-menu">
        <div class="logo">
            <h2>Sistema de Delivery</h2>
            <img src="motorbike.png" alt="logo">
        </div>
        <ul class="ul-menu">
            <li><a href="https://github.com/pauloesmelos/spring-boot"target="_blank">Contato</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="/produto">Produtos</a></li>
            <li><a href="/cliente">Clientes</a></li>
        </ul>
    </nav>
  </header>
  <main>
      <div class="titulo">
          <h1>Pedido</h1>
          <img src="carrinho-de-compras.png" height="30px" width="30px">
      </div>
    <div class="cad-pedido">
        <div class="card-pedido">
            <h1>Cadastrar um <span class="destaque">pedido</span></h1>
            <form class="form-cliente" method="post" th:action="@{/addPedido}">
                <label for="cliente">Cliente</label>
                <input type="text" id="cliente" name="cliente" placeholder="">
                <label for="produto">Produto</label>
                <input type="text" id="produto" name="produto" placeholder="">
                <label for="preco">Preço R$</label>
                <input type="text" id="preco" name="preco" placeholder="">
                <label for="data">Data</label>
                <input type="date" id="data" name="data" placeholder="">
                <button class="cadastrar" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
  </main>
</body>
<footer> &copy; 2023 - Todos os direitos reservados. Sistema de Delivery | <a target="_blank" href="https://github.com/pauloesmelos">Contato</a></footer>
</html>